/mqtt-client/client/mqtt-client.crt
/mqtt-client/client/mqtt-client.csr
/mqtt-client/client/mqtt-client.key
/mqtt-client/rootCA/openssl.cnf
/mqtt-client/rootCA/rootCA.key
/mqtt-client/rootCA/rootCA.pem
/mosquitto/broker_keys/broker.crt
/mosquitto/broker_keys/broker.csr
/mosquitto/broker_keys/broker.key
/mosquitto/rootCA/openssl.cnf
/mosquitto/rootCA/rootCA.key 
/mosquitto/rootCA/rootCA.pem
/iot-agent/client/iot-agent.crt
/iot-agent/client/iot-agent.csr
/iot-agent/client/iot-agent.key
/iot-agent/rootCA/openssl.cnf
/iot-agent/rootCA/rootCA.key 
/iot-agent/rootCA/rootCA.pem
